body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-image: url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-position: top right,bottom left;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
}
.heading{
    text-align: center;
  color: hsl(232, 13%, 33%);
}
.pricing{
    margin-top: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.d1{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    color:hsl(232, 13%, 33%);
}
.d2{
    padding: 30px;
    background-color:white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:hsl(232, 13%, 33%);
    width: 220px;
    
 }
 .d3{

    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    color:hsl(232, 13%, 33%);
 }
 .d1:hover,
.d2:hover,
.d3:hover {
  background-color:hsl(233, 13%, 49%);
  color:aliceblue;
  transform: scale(1.05); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease;
}
 .btn {
    background-color:  hsl(233, 13%, 49%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(252, 234, 234);
    color: hsl(240, 30%, 50%);
  }

  .price {
    padding: 35px;
    font-size: 40px;
    margin-top: -30px;
    border-bottom: 2px solid hsl(231, 8%, 83%);
    margin-top: -34px; 

  }
  .name{
    font-size: small;
  }

 
  .plan-change {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .plan-change p {
    margin: 0 10px;
    color: hsl(232, 13%, 33%);
    
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color:hsl(234, 14%, 74%);
    border-radius: 20px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: hsl(240, 30%, 96%);
    border-radius: 50%;
    transition: 0.4s;
  }

  .switch input:checked + .slider {
    transform: translateX(30px);
  }

  @media (max-width: 768px) {
    .pricing {
      flex-direction: column;
    }
  }